body#tinymce.wp-editor { 

	@import "foundation/settings";
	@import "foundation/functions";
	
	font-family: "Open Sans", Helvetica, sans-serif;
	
	h1, h2, h3, h4, h5, h6, p { font-family: "Open Sans", Helvetica, sans-serif; }
	
	h1, h2, h3, h4, h5 { 
		font-weight: $header-font-weight !important; 
		line-height: $header-line-height !important;
	}
	
	font-size: $base-font-size;
	
	h1 { font-size: $h1-font-size; }
	h2 { font-size: $h2-font-size; }
	h3 { font-size: $h3-font-size; }
	h4 { font-size: $h4-font-size; }
	h5 { font-size: $h5-font-size; }
	h6 { font-size: $h6-font-size; }
	p  { font-size: $base-font-size; }
	
}